{% if iwish_v2 == 'iwishlink' %}
	<a class="header__action-item-link iWishView" href="/apps/iwish">
      <span class="icon-iWishView">
        {%- render 'icon', icon: 'bi-heart' -%}
        <span class="header__heart-count iWishCount">0</span>
      </span> <span class="hidden-pocket hidden-lap">Wishlist</span>
    </a>
{% elsif iwish_v2 == 'iwishproduct' %}
<div class="iwishAddWrap">
	<a class="iWishAdd" href="#" data-product="{{ product.id }}" data-pTitle="{{ product.title | escape }}">Add to Wishlist</a>
	{% unless customer %}<p class="iWishLoginMsg" style="display: none;">Your wishlist has been temporarily saved. Please <a href="/account/login">Log in</a> to save it permanently.</p>{% endunless %}
</div>
{% elsif iwish_v2 == 'iwishCollection' %}
	<a class="iWishAddColl iwishcheck" href="#" data-variant="{{ product.variants.first.id }}" data-product="{{ product.id }}" data-pTitle="{{ product.title | escape }}">{%- render 'icon', icon: 'bi-heart' -%}</a>
{% elsif iwish_v2 == 'iwishfooter' %}
<script type="text/javascript">
var iwish_shop = "{{ shop.permanent_domain }}";
var iwish_pro_template = {% if template contains 'product' %}true{% else %}false{% endif %};
var iwish_cid = "{{ customer.id }}";
//Add to Wishlist - Product Page Text
var iwish_added_txt = 'Added in Wishlist';
var iwish_add_txt = 'Add to Wishlist';
//Add to Wishlist - Collection Page Text
var iwish_added_txt_col = '<svg focusable="false" class="icon--heart-filled" viewBox="0 0 17 15" role="presentation"><path d="M15.0349331 1.40485867C14.1287273.49933787 12.9252477 0 11.6443673 0S9.16000731.49933787 8.25448651 1.40417371c-.01164437.01164436-.02328874.02328873-.03493311.03561806-.01164436-.01232933-.02260377-.02328873-.03424813-.0349331C7.2790995.49933787 6.07561989 0 4.79473949 0 3.51385908 0 2.31037947.49933787 1.40417371 1.40485867.49796794 2.31037947 0 3.51385908 0 4.79473949 0 6.07561989.4986529 7.2790995 1.40417371 8.1846203L8.2195534 15l6.8153797-6.8153797c.9055208-.9055208 1.4041737-2.10900041 1.4041737-3.38988081 0-1.28019545-.4986529-2.48436002-1.4041737-3.38988082z"></path></svg>';
var iwish_add_txt_col = '<svg focusable="false" class="icon--heart" viewBox="0 0 24 23" role="presentation"><g stroke-width="{{ stroke_width | default: 1 }}" fill="none" fill-rule="evenodd"><path d="M17 1c-2.1 0-3.9 1.1-5 2.7C10.9 2.1 9.1 1 7 1 3.7 1 1 3.7 1 7c0 6 11 15 11 15s11-9 11-15c0-3.3-2.7-6-6-6z" stroke="{{ settings.heading_color }}" stroke-linecap="square"></path><path d="M16 5c1.65 0 3 1.35 3 3" stroke="{{ settings.accent_color }}" stroke-linecap="round"></path></g></svg>';
//Quick View - Classes
var iwish_qvButton = '[data-secondary-action="open-quick-view"]';
var iwish_qvWrapper = '#modal-quick-view-collection-template';
var iWishSelectClass = ".block-swatch__radio";
</script>
<script type="text/javascript">
(function(){
function iWishLoadScript(e,t){for(var a=0;a<e.length;a++){var n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=e[a],document.getElementsByTagName("head")[0].appendChild(n),0==a&&(n.readyState?n.onreadystatechange=function(){"loaded"!==n.readyState&&"complete"!==n.readyState||(n.onreadystatechange=null,t())}:n.onload=function(){t()})}}
function asyncLoadshopapps(){
	var iWishUrls=["https://cdn.myshopapps.com/iwish/iwishlist_v2.js"];
	iWishLoadScript(iWishUrls, function() {
		jQuery("a[href='/apps/iwish']").click(function(e) {
		if(typeof(Storage) !== "undefined") {
			e.preventDefault();
			iWishPost('/apps/iwish',{iwishlist:JSON.stringify(iWishlistmain),cId:iwish_cid});
		}
		});
        jQuery(document).on("click", ".iWishAdd", function() {
			var iWishvId = jQuery(this).parents(iwishWrapperClass).find(iWishVarSelector).val();
			iwish_add(jQuery(this), iWishvId);
			return false;
		});
        jQuery(document).on("click", iwish_qvButton, function() {
          jQuery(this).parents('.product-item').find('.iWishAddColl').addClass('iwishcheck');
        });
        jQuery(document).on("click", ".modal__close", function() {
          if (typeof iwishCheckColl !== 'undefined' && typeof iwishCheckColl === 'function'){ iwishCheckColl();}     
        });
		jQuery(document).on("click", ".iWishAddColl", function() {
          var iWishvId = jQuery(this).attr("data-variant");
          var iWishpId = jQuery(this).attr("data-product");
          if(isInWishlist(iWishpId,iWishvId)){
            iwish_remove(jQuery(this), iWishvId, false);
            jQuery(this).html(iwish_add_txt_col);
          }
          else{
            iwish_addCollection(jQuery(this),iWishvId);
          }
          return false;
		});
	});
}
if (window.addEventListener){ window.addEventListener("load", asyncLoadshopapps, true); }
else if (window.attachEvent){ window.attachEvent("onload", asyncLoadshopapps); }
else { window.onload = asyncLoadshopapps; }
})();
</script>
{% endif %}
